Remove first n characters from a string

In [3]:
def remove_char(str1,num):
    return str1[num:]
result=remove_char('Deeksha',4)
print(result)

sha

Check if the first and last number of a list is the same

In [7]:
lst=[1,2,34,5,5]
if(lst[0]==lst[-1]):
    print('the first and last number of a list is the same')
else:
    print('the first and last number of a list is not the same')

the first and last number of a list is not the same

Display numbers divisible by 5 from a list

In [9]:
lst=[1,45,67,80,15,15,75]
for i in lst:
    if(i%5==0):
        print(i)

45
80
15
15
75

Return the count of a given substring from a string

In [10]:
str_x='Deeksha is Deeksha good'
print('Deeksha appeared',str_x.count('Deeksha'),'times')

Deeksha appeared 2 times

Print the following pattern
1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5

In [14]:
for i in range(1,11):
    for j in range(i):
        print(i,end=" ")
    print('\n')

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

10 10 10 10 10 10 10 10 10 10

Create a new list from a two list using the following condition.Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [18]:
def merge_list(list1,list2):
    return_list=[]
    for i in list1:
        if(i%2==0):
            return_list.append(i)
    for i in list2:
        if(i%2==0):
            return_list.append(i)
    return return_list
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
lst=merge_list(list1,list2)
print(lst)

[10, 20, 30, 40, 60, 90]

In [22]:
new_lst=list1[0::2]+list2[1::2]
new_lst

[10, 25, 35, 45, 75]

 Write a Program to extract each digit from an integer in the reverse order.

In [24]:
num=123
while(num>0):
    digit=num%10
    num=num//10
    print(digit,end="")

321

Print multiplication table form 1 to 10

In [26]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end=" ")
    print('\n')

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

In [30]:
for i in range(6, 0, -1):
    for j in range(0,i-1):
        print("*",end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

In [32]:
def exponent(base,exp):
    return base**exp
res=exponent(3,5)
print('3 raises to the power of 5:',res)

3 raises to the power of 5: 243

## Python Input and Output Exercise

Write a program to accept two numbers from the user and calculate multiplication

In [36]:
num1=int(input('Enter num1: '))
num2=int(input('Enter num2: ').strip())
print('Multiplication of 2 nums is:',num1*num2)

Enter num1: 12
Enter num2: 13
Multiplication of 2 nums is: 156

Display three string “Name”, “Is”, “James” as “Name**Is**James”

In [37]:
print('Name','Is','James',sep='**')

Name**Is**James

In [43]:
#octal num
num=8
print('%o'%num)
num=312.87899765
print('%.2f'%num)

10
312.88

Accept a list of 5 float numbers as an input from the user

In [44]:
lst=[]
for i in range(0,5):
    print('Enter the number at location', i," :")
    item=float(input())
    lst.append(item)
print(lst)

Enter the number at location 0  :
1
Enter the number at location 1  :
2
Enter the number at location 2  :
3
Enter the number at location 3  :
4
Enter the number at location 4  :
5
[1.0, 2.0, 3.0, 4.0, 5.0]

In [45]:
lst=[]
for i in range(0,5):
    print('Enter the number at location', i," :")
    item=int(input())
    lst.append(item)
print(lst)

Enter the number at location 0  :
12
Enter the number at location 1  :
23
Enter the number at location 2  :
4
Enter the number at location 3  :
5
Enter the number at location 4  :
67
[12, 23, 4, 5, 67]

In [46]:
lst=[]
for i in range(0,5):
    print('Enter the number at location', i," :")
    item=input()
    lst.append(item)
print(lst)

Enter the number at location 0  :
1
Enter the number at location 1  :
2
Enter the number at location 2  :
3
Enter the number at location 3  :
4
Enter the number at location 4  :
5
['1', '2', '3', '4', '5']

 Accept any three string from one input() call

In [49]:
str1,str2,str3=input('Enter 3 names: ').split(',')
print('Name1 is: ',str1)
print('Name2 is: ',str2)
print('Name3 is: ',str3)

Enter 3 names: Suhana,Gana,Nie
Name1 is:  Suhana
Name2 is:  Gana
Name3 is:  Nie

Format variables using a string.format() method.

In [50]:
quantity=3
totalmoney=1000
price=450
statement1='I have {0} dollars so i can buy {1} for {2:.2f}'
print(statement1.format(totalmoney,quantity,price))

I have 1000 dollars so i can buy 3 for 450.00

# Loops

Print First 10 natural numbers using while loop

In [52]:
num=1
while(num<=10):
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10

Write a program to print the following number pattern using a loop.
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

In [55]:
for i in range(2,7):
    for j in range(1,i):
        print(j,end=" ")
    print('\n')

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

Calculate the sum of all numbers from 1 to a given number

In [58]:
sum=0
num=8
for i in range(1,num+1):
    sum+=i
print(sum)

36

Display numbers from a list using loop
Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five
If the number is greater than 150, then skip it and move to the next number
If the number is greater than 500, then stop the loop

In [70]:
lst=[1,5,10,3,555,189,23,56]
for i in lst:
    if(150<i<500):
        continue
    elif(i>500):
        break
    elif(i%5==0):
        print(i)

5
10

In [71]:
lst.sort()

In [72]:
lst

[1, 3, 5, 10, 23, 56, 189, 555]

Count the total number of digits in a number

In [74]:
num=75
count=0
while(num>0):
    num=num//10
    count+=1
print(count)

2

Print the following pattern
Write a program to use for loop to print the following reverse number pattern

5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1

In [76]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print('\n')

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

Print list in reverse order using a loop
Given:

list1 = [10, 20, 30, 40, 50]

In [77]:
list1 = [10, 20, 30, 40, 50]
print(list1[::-1])

[50, 40, 30, 20, 10]

Display numbers from -10 to -1 using for loop

In [84]:
num=-10
for i in range(-10,0,1):
    print(num)
    num+=1

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Write a program to display all prime numbers within a range

In [89]:
lower_range=int(input())
upper_range=int(input())

for i in range(lower_range,upper_range+1):
    if(i>1):
        for j in range(2,i):
            if(i%j==0):
                break
        else:
            print(i)

2
6
2
3
5

Display Fibonacci series up to 10 terms

In [91]:
num1,num2=0,1
print('Fibonacci series is')
for i in range(10):
    print(num1,end=" ")
    res=num1+num2
    num1=num2
    num2=res

Fibonacci series is
0 1 1 2 3 5 8 13 21 34

Find the factorial of a given number

In [94]:
num=5
fact=1
if(num<0):
    print('The factorial doesnt exist for a negative number')
elif(num==0):
    print('The factorial of 0 is 0')
else:
    for i in range(1,num+1):
        fact=fact*i
print(fact)

120

Reverse a given integer number

In [95]:
num=76542
rev=0
while(num>0):
    digit=num%10
    rev=rev*10+digit
    num=num//10
print('Reversed no. is',rev)

Reversed no. is 24567

Calculate the cube of all numbers from 1 to a given number

In [97]:
num=10
for i in range(1,num):
    print(i*i*i)

1
8
27
64
125
216
343
512
729

Find the sum of the series upto n terms
Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

In [101]:
start=2
sum_sq=0
for i in range(0,5):
    print(start,end=' + ')
    start=start*10+2
    sum_sq=sum_sq+start
print(sum_sq)

2 + 22 + 222 + 2222 + 22222 + 246910

In [103]:
def func(*args):
    for i in args:
        print(i)
func(12,34,56)
func(12,56)

12
34
56
12
56

In [104]:
def calc(a,b):
    return a+b, a-b
add, sub=calc(10,20)
print(add, sub)

30 -10

Create a recursive function

In [112]:
def addition(num):
    if(num>0):
        return num+ addition(num-1)
    else:
        return 0
add=addition(10)
print(add)

55

In [106]:
def addition(num):
    if num:
        # call same function by reducing number by 1
        return num + addition(num - 1)
    else:
        return 0

res = addition(10)
print(res)

55

In [111]:
lst=[]
for i in range(4,30):
    if(i%2==0):
        lst.append(i)
print(lst)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

## Strings

Create a string made of the first, middle and last character

In [115]:
def new_str(s):
    mi=int(len(s)/2)
    return s[0]+s[mi]+s[-1]
res=new_str('Deekshu')
print(res)

Dku

Create a string made of the middle three characters

In [117]:
def new_str(s):
    mi=int(len(s)/2)
    return s[mi-1]+s[mi]+s[mi+1]
res=new_str('Deeksshu')
print(res)

kss

Append new string in the middle of a given string
Given two strings, s1 and s2. Write a program to create a new string s3 by appending s2 in the middle of s1.

In [119]:
def new_str(s1,s2):
    mi=int(len(s1)/2)
    print(mi)
    return s1[0:mi]+s2+s1[mi:]
res=new_str('Deeksha','Kotian')
print(res)

3
DeeKotianksha

Arrange string characters such that lowercase letters should come first

In [122]:
lower=[]
upper=[]
s='Lowerghh'
for i in s:
    if i.islower():
        lower.append(i)
    else:
        upper.append(i)
str_=''.join(lower+upper)
print(str_)

owerghhL

Replace each special symbol with # in the following string

Find words with both alphabets and numbers

In [130]:
str1="Emma25 is Data scientist50 and AI Expert"
temp=str1.split(" ")
res=[]
for char in temp:
    if(any(i.isdigit() for i in char) and any(i.isalpha() for i in char)):
        res.append(char)
print(res)

['Emma25', 'scientist50']

 Removal all characters from a string except integers

In [132]:
str1='I am 25 years and 10 months old'
str2=[]
print('original string is',str1)
for i in str1.split(" "):
    if i.isalpha():
        str2.append(i)
    else:
        continue
print(" ".join(str2))

original string is I am 25 years and 10 months old
I am years and months old

Remove empty strings from a list of strings

In [133]:
str_list = ["Emma", "Jon", "", "Kelly", "Eric", ""]
str1=[]
for i in str_list:
    if i:
        str1.append(i)
    else:
        continue
print(" ".join(str1))

Emma Jon Kelly Eric

Split a string on hyphens

In [134]:
str1 = 'Emma-is-a-data-scientist'
str1.split('-')

['Emma', 'is', 'a', 'data', 'scientist']

 Find the last position of a given substring

In [136]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."
print(str1.find('Emma')) #first position
print(str1.rfind('Emma'))

0
43

Reverse a given string

In [141]:
str1 = "PYnative"
str2=str1[::-1]
str2

'evitanYP'

Write a program to count occurrences of all characters within a string

In [146]:
str1 = "Apple"
dict_car=dict()
for char in str1:
    count=str1.count(i)
    dict_car[char]=count
print(dict_car)

{'A': 6, 'p': 6, 'l': 6, 'e': 6}

Calculate the sum and average of the digits present in a string

In [154]:
str1 = "PYnative29@#8496"
tot=0
cnt=0
for char in str1:
    if char.isdigit():
        tot+=int(char)
        cnt+=1
    else:
        continue
print("Sum is",tot)
print('Mean is',tot/cnt)

Sum is 38
Mean is 6.333333333333333

Write a program to find all occurrences of “USA” in a given string ignoring the case.

In [155]:
str1 = "Welcome to USA. usa awesome, isn't it?"
sub_string = "usa"
temp=str1.lower()
count=temp.count(sub_string)
print(count)

2

Write a program to check if two strings are balanced. For example, strings s1 and s2 are balanced if all the characters in the s1 are present in s2. The character’s position doesn’t matter.

In [157]:
def string_balance_test(s1, s2):
    flag = True
    for char in s1:
        if char in s2:
            continue
        else:
            flag = False
    return flag


s1 = "Yn"
s2 = "PYnative"
flag = string_balance_test(s1, s2)
print("s1 and s2 are balanced:", flag)

s1 = "Ynf"
s2 = "PYnative"
flag = string_balance_test(s1, s2)
print("s1 and s2 are balanced:", flag)

s1 and s2 are balanced: True
s1 and s2 are balanced: False

 Create a mixed String using the following rules
Given two strings, s1 and s2. Write a program to create a new string s3 made of the first char of s1, then the last char of s2, Next, the second char of s1 and second last char of s2, and so on. Any leftover chars go at the end of the result.

In [160]:
s1='abchgj'
s2='xyzhjjk'
new_s=s1[0]+s2[-1]+s1[1]+s2[-2]+s1[2:]+s2[-3::-1]

In [161]:
new_s

'akbjchgjjhzyx'

## List

Reverse a list in Python

In [162]:
lst=[100,200,300,400,500]
lst[-1::-1]

[500, 400, 300, 200, 100]

Concatenate two lists index-wise

In [163]:
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]
list3=[i+j for i,j in zip(list1,list2)]
list3

['My', 'name', 'is', 'Kelly']

Turn every item of a list into its square

In [164]:
numbers = [1, 2, 3, 4, 5, 6, 7]
lst=[x**2 for x in numbers]
lst

[1, 4, 9, 16, 25, 36, 49]

Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [166]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3=[]
for i in list1:
    for j in list2:
        list3.append(i+j)
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

Remove empty strings from the list of strings

In [167]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
res=list(filter(None,list1))
res

['Mike', 'Emma', 'Kelly', 'Brad']

Add new item to list after a specified item
Given:

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
Expected output:

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [169]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Extend nested list by adding the sublist
You have given a nested list. Write a program to extend it by adding the sublist ["h", "i", "j"] in such a way that it will look like the following list.

Given List:

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add
sub_list = ["h", "i", "j"]

In [170]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)

In [171]:
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

Replace list’s item with new value if found
You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

Given:

list1 = [5, 10, 15, 20, 25, 50, 20]
Expected output:

[5, 10, 15, 200, 25, 50, 20]

In [172]:
list1 = [5, 10, 15, 20, 25, 50, 20]

In [175]:
list1[list1.index(20)]=200
list1

[5, 10, 15, 200, 25, 50, 20]

Remove all occurrences of a specific item from a list.
Given a Python list, write a program to remove all occurrences of item 20.

Given:

list1 = [5, 20, 15, 20, 25, 50, 20]
Expected output:

[5, 15, 25, 50]

In [179]:
list1 = [5, 20, 15, 20, 25, 50, 20]

# list comprehension
# remove specific items and return a new list
def remove_value(sample_list, val):
    return [i for i in list1 if i!=val]

res = remove_value(list1, 20)
print(res)

[5, 15, 25, 50]

## Dictionary

Convert two lists into a dictionary

In [180]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dict1={i:k for i,k in zip(keys,values)}
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

Merge two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Expected output:
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [181]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict1.update(dict2)
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [182]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [183]:
sampleDict['class']['student']['marks']['history']

80

Initialize dictionary with default values
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
Expected output:

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [186]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

In [188]:
d={i:defaults for i in employees}
d

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [190]:
res=dict.fromkeys(employees,defaults)
res

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

Create a dictionary by extracting the keys from a given dictionary

In [192]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}
keys = ["name", "salary"]

# Keys to extract
d={i:sample_dict[i] for i in keys}
d

{'name': 'Kelly', 'salary': 8000}

Delete a list of keys from a dictionary

In [193]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
# Keys to remove
keys = ["name", "salary"]
for i in keys:
    sample_dict.pop(i)
sample_dict

{'age': 25, 'city': 'New york'}

 Check if a value exists in a dictionary
We know how to check if the key exists in a dictionary. Sometimes it is required to check if the given value is present.

In [196]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
    print('200 is present')

200 is present

Rename key of a dictionary
Write a program to rename a key city to a location in the following dictionary.

Given:

sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

In [200]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sample_dict['Location']=sample_dict.pop('city')

In [201]:
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'Location': 'New york'}

Get the key of a minimum value from the following dictionary

In [202]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
min_=min(sample_dict.values())

In [203]:
min_

65

In [204]:
print(min(sample_dict, key=sample_dict.get))

Math

Change value of a key in a nested dictionary

In [206]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary']

500

# List

Python program to interchange first and last elements in a list

In [207]:
lst=[12, 35, 9, 56, 24]
lst[0],lst[-1]=lst[-1],lst[0]
lst

[24, 35, 9, 56, 12]

Python program to swap two elements in a list

In [210]:
def swap_(lst,pos1,pos2):
    lst[pos1],lst[pos2]=lst[pos2],lst[pos1]
lst=[1,2,3,4,5,6]
pos1=1
pos2=2
swap_(lst,pos1-1,pos2-1)
lst

[2, 1, 3, 4, 5, 6]

In [211]:
len(lst)

6

Maximum of two numbers in Python

In [212]:
def maximum(a, b):
     
    if a >= b:
        return a
    else:
        return b
     
# Driver code
a = 2
b = 4
print(maximum(a, b))

4

## Strings

Python program to check whether the string is Symmetrical or Palindrome

In [215]:
def pal(str1) :
    if str1[::]==str1[-1::-1]:
        print('The given string is a palindrome')
    else:
        print('The given string is not a palindrome')
pal('Tum')

The given string is not a palindrome

Ways to remove i’th character from string in Python

In [217]:
str1='Dilseee'
def rem(str1,pos) :
    return str1[0:pos-1]+str1[pos:]
    
    
res=rem(str1,3)
print(res)

Diseee

Python program to print even length words in a string

In [220]:
 s = "This is a python language"
lst=[]
for i in s.split(" "):
    if len(i)%2==0:
        lst.append(i)
    else:
        continue
" ".join(lst)

'This is python language'

In [226]:
def filt(str_,n,alp):
    mul=int(n/len(str_))+1
    new_str=str_*mul
    return new_str[0:n].count(alp)
str_='aba'
res=filt(str_,10,'a')  
print(res)

7

## Python Date and Time Exercise with Solutions